/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  font-size: 62.5%;
  line-height: 2.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
/*FORM GLOBAL STYLES*/
.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-height: 90rem;
  max-width: 144rem;
  border: solid 1px #d6d6d6;
}

@media only screen and (max-width: 1024px) {
  .signup__form {
    position: relative;
    display: block;
    background-image: url("../assets/img/bg-tablet.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 76rem;
    max-height: 100%;
  }
  .signup__form--l {
    max-width: 100%;
    z-index: 10000;
  }
  .signup__form--r {
    top: 0%;
    right: 0%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .signup__form {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signup__form--l {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

.signup__form--r {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 72rem;
}

/* LEFT SIDE STYLE */
.logo {
  position: absolute;
  z-index: 2;
  top: 4.5rem;
  left: 4.2rem;
}

@media only screen and (max-width: 1024px) {
  .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

/* RIGHT SIDE STYLE */
.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  max-height: 90rem;
}

@media only screen and (max-width: 500px) {
  .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.container .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .container .form__group .col {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .container .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.form__left {
  background-image: url("../assets/img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .form__left {
    background-image: none;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .form__left {
    background-image: url("../assets/img/bg-mobile.svg");
    background-size: cover;
    background-position: center;
    padding-bottom: 19.3rem;
  }
}

.form__left--close {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .form__left--close {
    display: block;
    position: absolute;
    top: 15%;
    left: 95%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .form__left--close {
    display: block;
    position: absolute;
    top: 10%;
    left: 90%;
    cursor: pointer;
  }
}

.form__right {
  background-color: #ffffff;
  background-image: url("../assets/img/icon-general-ex.svg");
  background-repeat: no-repeat;
  background-position: top 1% right 5%;
  padding: 3.5rem 5rem;
  overflow: scroll;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.form__right::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .form__right {
    background-image: none;
    padding: 2.5rem 1.5rem;
    -webkit-box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 6rem;
    margin-top: 7rem;
    padding-bottom: 10rem;
    padding-top: 6rem;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .form__right {
    width: 100%;
    margin-top: 0;
    padding-top: 3rem;
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  color: #424242;
  text-align: right;
  margin-top: .5rem;
}

.form .pwd__label {
  background-image: url("../assets//img/icon-general-info.svg");
  background-repeat: no-repeat;
  background-position: 75%;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .form .pwd__label {
    background-position: 60%;
  }
}

.form__info {
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;
}

.form__info--heading {
  font-family: 'Afek-DemiBold', 'Arial', sans-serif;
  font-size: 4.4rem;
  color: #357875;
  text-align: right;
  padding-bottom: 2rem;
}

.form__info--desc {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  font-size: 2.6rem;
  color: #424242;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .form__info {
    padding-bottom: 1rem;
  }
  .form__info--heading {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }
  .form__info--desc {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .form__info {
    padding-bottom: 1rem;
  }
  .form__info--heading {
    font-size: 2.8rem;
    font-weight: 600;
  }
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  position: absolute;
  width: calc(100% - 2px);
  height: 8.6rem;
  right: 0;
  left: 0;
  padding: 0 5rem 0 5rem;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
  -ms-overflow-style: none;
}

@media only screen and (max-width: 1024px) {
  .form__control {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 500px) {
  .form__control {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .form__control {
    padding-top: 2rem;
  }
}

/* FONTS USED */
@font-face {
  font-family: 'Afek-Regular';
  src: url("../assets/fonts/Afek-Regular/Afek-Regular.woff") format("woff"), url("../assets/fonts/Afek-Regular/Afek-Regular.woff2") format("woff2"), url("../assets/fonts/Afek-Regular/Afek-Regular.ttf") format("ttf"), url("../assets/fonts/Afek-Regular/Afek-Regular.eot") format("eot");
}

@font-face {
  font-family: 'Afek-Thin';
  src: url("../assets/fonts/Afek-Thin/Afek-Thin.woff") format("woff"), url("../assets/fonts/Afek-Thin/Afek-Thin.woff2") format("woff2"), url("../assets/fonts/Afek-Thin/Afek-Thin.ttf") format("ttf"), url("../assets/fonts/Afek-Thin/Afek-Thin.eot") format("eot");
}

@font-face {
  font-family: 'Afek-DemiBold';
  src: url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff") format("woff"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff2") format("woff2"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.ttf") format("ttf"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.eot") format("eot");
}

@font-face {
  font-family: 'SimplePro-Reguloar';
  src: url("../assets/fonts/SimplePro-Regular/Simpler-Regular.woff") format "woff";
}

/*CONFIRMATION PAGE */
.form__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90rem;
}

@media only screen and (max-width: 1024px) {
  .form__confirm {
    height: 58.2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .form__confirm {
    height: 47.4rem;
  }
}

.form__confirm--img {
  margin-bottom: 2.5rem;
}

.form__confirm--heading {
  font-family: 'Afek-DemiBold', 'Arial', sans-serif;
  font-size: 4.4rem;
  color: #357875;
  padding-bottom: 2.6rem;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .form__confirm--heading {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .form__confirm--heading {
    font-size: 2.8rem;
    font-weight: 600;
  }
}

.form__confirm--desc {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  font-size: 2.6rem;
  color: #424242;
  text-align: center;
  line-height: 2.9rem;
}

.form__confirm--desc.conf__email {
  font-family: 'SimplePro-Regular', 'Arial', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .form__confirm--desc {
    font-size: 2rem;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .form__confirm--desc {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=confirmation.css.map */