@import "base/colors";
@import "base/global";
@import "base/mixins";
@import "components/form";
@import "base/typography";


/*CONFIRMATION PAGE */

.form__confirm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90rem;

    @include respond (large){
        height: 58.2rem;
    }
    

    @include respond (large){
        height: 47.4rem;
    }


    &--img{
        margin-bottom: 2.5rem;
    }

    &--heading{
        font-family: 'Afek-DemiBold', 'Arial', sans-serif;
        font-size: 4.4rem;
        color: $color-primary;
        padding-bottom: 2.6rem;
        text-align: right;

      
        @include respond (large){
            font-size: 3.6rem;
        } 

        @include respond (small){
            font-size: 2.8rem;
            font-weight: 600;
        }

    }

    &--desc{
        font-family: 'Afek-Regular', 'Arial', sans-serif;
        font-size: 2.6rem;
        color: $color-grey-dark;
        text-align: center;
        line-height: 2.9rem;

        &.conf__email{
            font-family: 'SimplePro-Regular', 'Arial', sans-serif;

        }

       @include respond (large){
            font-size: 2rem;
            width: 80%;
        } 

        @include respond (small){
            font-size: 1.6rem;
        }
    }
}
