/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* CUSTOM CHECKBOX */
}

.check > label {
  text-align: right;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 375px) {
  .check > label {
    padding-bottom: 0;
  }
}

.check > label::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  border-radius: 1px;
  border: 1.5px solid #424242;
}

@media only screen and (max-width: 1024px) {
  .check > label::before {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.check > label:hover::before,
.check input[type="checkbox"]:hover + label::before {
  background-color: #f8f8f8;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.check input[type="checkbox"]:checked + label::before {
  content: "\002714";
  font-size: 2rem;
  background-color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.check input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  font-size: 62.5%;
  line-height: 2.4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
/*FORM GLOBAL STYLES*/
.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-height: 90rem;
  max-width: 144rem;
  border: solid 1px #d6d6d6;
}

@media only screen and (max-width: 1024px) {
  .signup__form {
    position: relative;
    display: block;
    background-image: url("../assets/img/bg-tablet.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 76rem;
    max-height: 100%;
  }
  .signup__form--l {
    max-width: 100%;
    z-index: 10000;
  }
  .signup__form--r {
    top: 0%;
    right: 0%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .signup__form {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signup__form--l {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  position: relative;
}

.signup__form--r {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 72rem;
}

/* LEFT SIDE STYLE */
.logo {
  position: absolute;
  z-index: 2;
  top: 4.5rem;
  left: 4.2rem;
}

@media only screen and (max-width: 1024px) {
  .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
  }
}

/* RIGHT SIDE STYLE */
.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  max-height: 90rem;
}

@media only screen and (max-width: 500px) {
  .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.container .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .container .form__group .col {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .container .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.form__left {
  background-image: url("../assets/img/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .form__left {
    background-image: none;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .form__left {
    background-image: url("../assets/img/bg-mobile.svg");
    background-size: cover;
    background-position: center;
    padding-bottom: 19.3rem;
  }
}

.form__left--close {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .form__left--close {
    display: block;
    position: absolute;
    top: 15%;
    left: 95%;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .form__left--close {
    display: block;
    position: absolute;
    top: 10%;
    left: 90%;
    cursor: pointer;
  }
}

.form__right {
  background-color: #ffffff;
  background-image: url("../assets/img/icon-general-ex.svg");
  background-repeat: no-repeat;
  background-position: top 1% right 5%;
  padding: 3.5rem 5rem;
  overflow: scroll;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.form__right::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .form__right {
    background-image: none;
    padding: 2.5rem 1.5rem;
    -webkit-box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 6rem;
    margin-top: 7rem;
    padding-bottom: 10rem;
    padding-top: 6rem;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .form__right {
    width: 100%;
    margin-top: 0;
    padding-top: 3rem;
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  color: #424242;
  text-align: right;
  margin-top: .5rem;
}

.form .pwd__label {
  background-image: url("../assets//img/icon-general-info.svg");
  background-repeat: no-repeat;
  background-position: 75%;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .form .pwd__label {
    background-position: 60%;
  }
}

.form__info {
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;
}

.form__info--heading {
  font-family: 'Afek-DemiBold', 'Arial', sans-serif;
  font-size: 4.4rem;
  color: #357875;
  text-align: right;
  padding-bottom: 2rem;
}

.form__info--desc {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  font-size: 2.6rem;
  color: #424242;
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .form__info {
    padding-bottom: 1rem;
  }
  .form__info--heading {
    font-size: 3.6rem;
    padding-bottom: 1rem;
  }
  .form__info--desc {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 500px) {
  .form__info {
    padding-bottom: 1rem;
  }
  .form__info--heading {
    font-size: 2.8rem;
    font-weight: 600;
  }
}

.form__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  position: absolute;
  width: calc(100% - 2px);
  height: 8.6rem;
  right: 0;
  left: 0;
  padding: 0 5rem 0 5rem;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
  -ms-overflow-style: none;
}

@media only screen and (max-width: 1024px) {
  .form__control {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 500px) {
  .form__control {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .form__control {
    padding-top: 2rem;
  }
}

/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
.flatpickr-calendar {
  font-family: 'Afek-Regular', 'Arial', sans- !important;
  border-radius: 2px !important;
  -webkit-box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22) !important;
          box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22) !important;
}

.flatpickr-day.today {
  border-color: #aa198d !important;
}

#dob {
  position: relative;
  cursor: pointer;
}

.dob__icon {
  background-image: url("/assets/img/icon-actions-calander.svg");
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  top: 55%;
  left: 0.5rem;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #aa198d !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: #aa198d !important;
}

.flatpickr-day:hover {
  background: #EED1E8 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border: none !important;
}

.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
  border-radius: 4px !important;
  font-size: 1.6rem;
  text-align: right;
  outline: none;
  position: relative;
}

.select2-results__options {
  margin: 5px 0 5px 0 !important;
}

.select2-results__option--highlighted.select2-results__option--selectable {
  border-right: 4px solid #aa198d !important;
  -webkit-transition: .3s all ease-in !important;
  transition: .3s all ease-in !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #d6d6d6 !important;
  border-radius: 4px;
  margin-bottom: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #898989 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:active {
  border: solid 1px #d6d6d6 !important;
  color: #424242 !important;
  border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:focus-visible,
.select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  outline: auto 1px #aa198d !important;
  border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url("/assets/img/icon-general-arrow-drop-down.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-color: transparent !important;
  top: 50% !important;
  left: 50% !important;
  width: 24px !important;
  position: absolute !important;
  left: 50% !important;
  height: 24px !important;
  margin-top: -6px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-image: url("/assets/img/icon-general-arrow-drop-up.svg") !important;
  margin-top: -4px !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
  background-color: #f8f8f8 !important;
  color: #424242;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 4px !important;
  -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14) !important;
          box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14) !important;
  border: solid 1px #e3e3e3 !important;
  background-color: #fff !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #f8f8f8 !important;
  color: #424242 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
}

.select2-selection__rendered {
  line-height: 48px !important;
  border-radius: 4px !important;
}

.select2-container .select2-selection--single {
  height: 48px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}

/* GLOBAL INPUT STYLES */
input[type="date"],
input[type="checkbox"],
select {
  cursor: pointer;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

fieldset {
  border: none;
}

select {
  direction: rtl;
  outline: none;
}

/*FORM INPUT STYLES */
.form__input {
  height: 4.8rem;
  width: 100%;
  margin-bottom: 1.2rem;
  padding: 12px 16px 12px 14px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  font-size: 1.6rem;
  text-align: right;
  outline: none;
}

.form__input::-webkit-input-placeholder {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  color: #898989;
}

.form__input:-ms-input-placeholder {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  color: #898989;
}

.form__input::-ms-input-placeholder {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  color: #898989;
}

.form__input::placeholder {
  font-family: 'Afek-Regular', 'Arial', sans-serif;
  color: #898989;
}

.form__input:focus {
  border: solid 1px #aa198d;
  outline: none;
}

.form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::-ms-input-placeholder {
  color: transparent;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__input:hover {
  border: solid 1px #707070;
}

.form__input:active {
  border: solid 1px #d6d6d6;
  color: #424242;
}

.form__input.invalid {
  border: solid 1px #ff3a00;
  background-color: rgba(255, 58, 0, 0.08);
  background-image: url("../assets/img/icon-general-error.svg");
  background-repeat: no-repeat;
  background-position: 2% center;
  color: #ff3a00;
  outline: none;
}

.form__input.invalid ~ .hide,
.form__input.invalid ~ .show,
.form__input.invalid ~ .confirm__hide,
.form__input.invalid ~ .confirm__show {
  left: 3rem;
}

.form__input--hint {
  margin-top: -1rem;
  font-size: 1.2rem;
  color: #707070;
  text-align: right;
}

.form__input--hint.wrong {
  color: #ff3a00;
}

/* PASSWORD INPUT FIELDS */
#pwd,
#pwd__confirm,
.col {
  position: relative;
}

.hide {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: url("../assets/img/icon-general-hide.svg");
  left: 0.5rem;
}

.show {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: url("../assets/img/icon-general-show.svg");
  left: 0.5rem;
}

.confirm__hide {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: url("../assets/img/icon-general-hide.svg");
  left: 0.5rem;
}

.confirm__show {
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: url("../assets/img/icon-general-show.svg");
  left: 0.5rem;
}

.label__accent {
  font-family: 'Afek-DemiBold', 'Arial', sans-serif;
  color: #357875;
}

.btn__label {
  font-size: 1.8rem;
  text-align: center;
}

.form__label--license {
  margin-top: 1.7rem;
}

/* SUBMIT BUTTON */
.submit {
  background-color: #707070;
  font-size: 1.8rem;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 1.3rem 2rem 1.3rem 2rem;
  border-radius: 2rem;
}

.submit.active {
  background-color: #357875;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .submit {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1.3rem 25% 1.3rem 25%;
  }
}

@media only screen and (max-width: 375px) {
  .submit {
    margin-bottom: 1rem;
  }
}

/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/
.tooltiptext {
  visibility: hidden;
  width: 26.7rem;
  height: 14.2rem;
  background-color: #424242;
  color: #ffffff;
  text-align: right;
  border-radius: 2px;
  padding: .4rem 1.1rem;
  position: absolute;
  z-index: 1;
  top: 36%;
  left: 0%;
  margin-left: -6rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  -webkit-box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.34);
}

@media only screen and (max-width: 500px) {
  .tooltiptext {
    left: -70%;
  }
}

.tooltiptext.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 14%;
  margin-top: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #424242 transparent;
}

.pwd__label:hover ~ .tooltiptext {
  visibility: visible;
}

/* FONTS USED */
@font-face {
  font-family: 'Afek-Regular';
  src: url("../assets/fonts/Afek-Regular/Afek-Regular.woff") format("woff"), url("../assets/fonts/Afek-Regular/Afek-Regular.woff2") format("woff2"), url("../assets/fonts/Afek-Regular/Afek-Regular.ttf") format("ttf"), url("../assets/fonts/Afek-Regular/Afek-Regular.eot") format("eot");
}

@font-face {
  font-family: 'Afek-Thin';
  src: url("../assets/fonts/Afek-Thin/Afek-Thin.woff") format("woff"), url("../assets/fonts/Afek-Thin/Afek-Thin.woff2") format("woff2"), url("../assets/fonts/Afek-Thin/Afek-Thin.ttf") format("ttf"), url("../assets/fonts/Afek-Thin/Afek-Thin.eot") format("eot");
}

@font-face {
  font-family: 'Afek-DemiBold';
  src: url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff") format("woff"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff2") format("woff2"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.ttf") format("ttf"), url("../assets/fonts/Afek-DemiBold/Afek-DemiBold.eot") format("eot");
}

@font-face {
  font-family: 'SimplePro-Reguloar';
  src: url("../assets/fonts/SimplePro-Regular/Simpler-Regular.woff") format "woff";
}
/*# sourceMappingURL=styles.css.map */