


.flatpickr-calendar{
    font-family: 'Afek-Regular', 'Arial', sans- !important;
    border-radius: 2px !important;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3), 0 0 24px 0 rgba(0, 0, 0, 0.22) !important;
}


.flatpickr-day.today {
    border-color: #aa198d !important;
}

#dob{
    position: relative;
    cursor: pointer;
}

.dob__icon{
    background-image: url('/assets/img/icon-actions-calander.svg');
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 1.1rem;
    height: 2.4rem;
    width: 2.4rem;
    cursor: pointer;
    top: 55%;
    left: 0.5rem;
}


.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: #aa198d !important;
    box-shadow: none;
    color: #fff;
    border-color: #aa198d !important;
}

.flatpickr-day:hover {
    background: #EED1E8 !important;
    box-shadow: none;
    color: #fff;
    border: none !important;
}