@import "../base/mixins";

.check{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    // margin-bottom: 2rem;

    &>label{
        text-align: right;
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-bottom: 1rem;

        
        @include respond (smallest){
            padding-bottom: 0;
        }
    }

    /* CUSTOM CHECKBOX */
    &>label::before{
        content: "";
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 1rem;
        border-radius: 1px;
        border: 1.5px solid $color-grey-dark;

        @include respond (large){
            width: 1.8rem;
            height: 1.8rem;
        }
        
    }

    &>label:hover::before,
    input[type="checkbox"]:hover + label::before {
        background-color: $color-grey-light-3;
        transition: all .3s linear;
    }
    
    input[type="checkbox"]:checked + label::before {
        content: "\002714";
        font-size: 2rem;
        background-color: $color-grey-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        transition: all .3s linear;
    }


    input[type="checkbox"]{
        opacity: 0;
        position: absolute;
    }

}
  