@import "../base/mixins";

/*FORM GLOBAL STYLES*/

.signup__form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-height: 90rem;
    max-width: 144rem;
    border: solid 1px $color-grey-light-2;

    @include respond (large){
        position: relative;
        display: block;
        background-image: url("../assets/img/bg-tablet.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 76rem;
        max-height: 100%;

        &--l{
            max-width: 100%;
            z-index: 10000;

        }
        &--r{
            top: 0%;
            right: 0%;
            margin: 0 auto;       
        }
    }

    @include respond (small){
        background-image: none;
        display: flex;
       flex-direction: column;
    
    }


    &--l{
        flex: 50%;
        position: relative;
    }

    &--r{
        flex: 50%;
        max-width: 72rem;
    
    }
}


/* LEFT SIDE STYLE */

.logo{
    position: absolute;
    z-index: 2;
    top: 4.5rem;
    left: 4.2rem;

    @include respond (large){
       left: 50%;
       transform: translateX(-50%);
       position: relative;      
    }

    @include respond (small){
        transform: translate(-50%, 50%);
    }

}

/* RIGHT SIDE STYLE */

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    max-height: 90rem;

    @include respond (small){
     flex-wrap: nowrap;

    }

    .form__group{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2rem;

   
        @include respond (large){     
            & .col{
                width: 100%;
            }

        }

        @include respond (smallest){
            flex-direction: column;
            gap: 0;
        }

    }
}

.form{ 
    
    &__left{
        background-image: url("../assets/img/bg.svg");
        background-size: cover;
        background-repeat: no-repeat;

        @include respond (large){
            background-image: none;
            width: 100%;
            
         }

         @include respond (small){
            background-image: url("../assets/img/bg-mobile.svg");
            background-size: cover;
            background-position: center;
            padding-bottom: 19.3rem;

         }

         &--close{
             display: none;

             @include respond(large){
                display: block;
                position: absolute;
                top: 15%;
                left: 95%;
                cursor: pointer;
             }

             @include respond(small){
                 display: block;
                 position: absolute;
                 top: 10%;
                 left: 90%;
                 cursor: pointer;
             }
         }

         
  
    }

    &__right{
        background-color: $color-white;
        background-image: url("../assets/img/icon-general-ex.svg");
        background-repeat: no-repeat;
        background-position: top 1% right 5%;
        padding: 3.5rem 5rem;
        overflow: scroll;
        position: relative;

        scrollbar-width: none;
        -ms-overflow-style: none;

       &::-webkit-scrollbar{
            display: none;

        } 
        @include respond (large){
            background-image: none;
            padding: 2.5rem 1.5rem; 
            box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.25);
            margin-bottom: 6rem;
            margin-top: 7rem;
            padding-bottom: 10rem;
            padding-top: 6rem;
            width: 80%;
        }

        @include respond (small){
            width: 100%;
            margin-top: 0;
            padding-top: 3rem;
            margin-bottom: 0;
            box-shadow: none;
        }
        
    }

      &__label{
        display: block;
        font-size: 1.6rem;
        color: $color-grey-dark;
        text-align: right;
        margin-top: .5rem;
    }

    .pwd__label{
        background-image: url("../assets//img/icon-general-info.svg");
        background-repeat: no-repeat;
        background-position: 75%;
        position: relative;

        @include respond (small){
            background-position: 60%;
        }
    }

    &__info{
        width: 80%;
        margin: auto;
        padding-bottom: 3rem;
        &--heading{
            font-family: 'Afek-DemiBold', 'Arial', sans-serif;
            font-size: 4.4rem;
            color: $color-primary;
            text-align: right;
            padding-bottom: 2rem;  
                     
        }
    
        &--desc{
            font-family: 'Afek-Regular', 'Arial', sans-serif;
            font-size: 2.6rem;
            color: $color-grey-dark;
            text-align: right;
        }

        @include respond (large){

            padding-bottom: 1rem;
            &--heading{
                font-size: 3.6rem;
                padding-bottom: 1rem;

            }

            &--desc{
                font-size: 1.6rem; 
            }
        }

        
        @include respond (small){
            padding-bottom: 1rem;
            &--heading{
                font-size: 2.8rem;
                font-weight: 600;
            }
        }
    }


    &__control{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: $color-white;
        position: absolute;
        width: calc(100% - 2px);
        height: 8.6rem;
        right: 0;
        left: 0;
        padding: 0 5rem 0 5rem;
        box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.1);
        -ms-overflow-style: none;
   

        @include respond (large){
            box-shadow: none;
            justify-content: space-evenly;
        }
        
        @include respond (small){
            flex-wrap: nowrap;
            box-shadow: none;
            flex-direction: column-reverse;
            margin-top: 1rem;
            padding-bottom: 1rem;

        }

        
        @include respond (smallest){
            padding-top: 2rem;
        }

        
    }
 }

