@import "../base/mixins";
@import "calendar";
@import "select";

/* GLOBAL INPUT STYLES */
input[type="date"],
input[type="checkbox"],
select{
    cursor: pointer;
}


// HIDE EYE ICON FOR PASSWORD REVEAL ON IE
input::-ms-reveal,
input::-ms-clear {
  display: none;
}



fieldset{
    border: none;
}

select{
    direction: rtl;
    outline: none;
}

/*FORM INPUT STYLES */

.form__input{
    height: 4.8rem;
    width: 100%;
    margin-bottom: 1.2rem;
    padding: 12px 16px 12px 14px;
    border-radius: 4px;
    border: solid 1px $color-grey-light-2;
    font-size: 1.6rem;
    text-align: right;
    outline: none;

    &::placeholder{
        font-family: 'Afek-Regular', 'Arial', sans-serif;
        color: $color-grey-light-1;

    }

    
    &:focus{
        border: solid 1px $color-secondary;
        outline: none;

        &::placeholder{
          color: transparent;
        }
    }

    &:hover{
        border: solid 1px $color-grey-light;
    }

    &:active{
        border: solid 1px $color-grey-light-2;
        color: $color-grey-dark;
  }

  &.invalid{
    border: solid 1px $color-red;
    background-color: rgba(255, 58, 0, 0.08);
    background-image: url("../assets/img/icon-general-error.svg");
    background-repeat: no-repeat;
    background-position: 2% center;
    color: $color-red;
    outline: none;

    ~ .hide, 
    ~ .show,
    ~ .confirm__hide,
    ~ .confirm__show {
      left: 3rem;

    }
}

  &--hint{
      margin-top: -1rem;
      font-size: 1.2rem;
      color: $color-grey-light;
      text-align: right;

      &.wrong{
        color: $color-red;
      }
  }
}

/* PASSWORD INPUT FIELDS */

#pwd,
#pwd__confirm,
.col {
    position: relative;
}
     
.hide{
    @include iconPassword;
    background-image: url('../assets/img/icon-general-hide.svg');
    left: 0.5rem;

}

.show{
    @include iconPassword;
    background-image: url('../assets/img/icon-general-show.svg');
    left: 0.5rem;
}


.confirm__hide{
    @include iconPassword;
    background-image: url('../assets/img/icon-general-hide.svg');
    // right: 20rem;
    left: 0.5rem;

}

.confirm__show{
    @include iconPassword;
    background-image: url('../assets/img/icon-general-show.svg');
    // right: 20rem;
    left: 0.5rem;
}



.label__accent{
    font-family: 'Afek-DemiBold', 'Arial', sans-serif;
    color: $color-primary;
}

.btn__label{
    font-size: 1.8rem;
    text-align: center;

}


.form__label--license{
    margin-top: 1.7rem;
}

/* SUBMIT BUTTON */
.submit{
  background-color: $color-grey-light;
  font-size: 1.8rem;
  color: $color-white;
  outline: none;
  border: none;
  padding: 1.3rem 2rem 1.3rem 2rem;
  border-radius: 2rem;  

  &.active {
  background-color: $color-primary;
  transition: all .3s ease-in;
  cursor: pointer;

  }

  @include respond(small){
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      padding: 1.3rem 25% 1.3rem 25%;
  }

  @include respond(smallest){
      margin-bottom: 1rem;
  }
}


