
.select2-container{
    
    width: 100% !important;
    margin-bottom: 12px !important; 
    border-radius: 4px !important;
    font-size: 1.6rem;
    text-align: right;
    outline: none;
    position: relative;

}

.select2-results__options{
    margin: 5px 0 5px 0 !important;
}

.select2-results__option--highlighted.select2-results__option--selectable{
    border-right: 4px solid $color-secondary !important;
    transition: .3s all ease-in !important;

}


.select2-container--default .select2-selection--single {
    border: 1px solid $color-grey-light-2 !important;
    border-radius: 4px;
    margin-bottom: 12px !important;
  }
  

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $color-grey-light-1 !important;
  }



  .select2-container--default .select2-selection--single .select2-selection__rendered:active {
    border: solid 1px $color-grey-light-2 !important;
    color: $color-grey-dark !important;
    border-radius: 4px !important;
  }
  
  .select2-container--default .select2-selection--single .select2-selection__rendered:focus-visible,
  .select2-container--default .select2-selection--single .select2-selection__rendered:focus  {
    outline: auto 1px $color-secondary !important;
    border-radius: 4px !important;

  }
  

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    background-image: url("/assets/img/icon-general-arrow-drop-down.svg") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-color: transparent !important;
    top: 50% !important;
    left: 50% !important;
    width: 24px !important;
    position: absolute !important;
    left: 50% !important;
    height: 24px !important;
    margin-top: -6px !important;
}


.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{   
     background-image: url("/assets/img/icon-general-arrow-drop-up.svg") !important;
     margin-top: -4px !important;

}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover{
    background-color: $color-grey-light-3 !important;
    color: $color-grey-dark;
}

.select2-container--open .select2-dropdown--below{
    border-radius: 4px !important;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.14) !important;
    border: solid 1px #e3e3e3 !important;
    background-color: #fff !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: $color-grey-light-3 !important;
    color: $color-grey-dark !important;
}



.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 26px;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 20px;
}


.select2-selection__rendered {
    line-height: 48px !important;
    border-radius: 4px !important;


}
.select2-container .select2-selection--single {
    height: 48px !important;

}
.select2-selection__arrow {
    height: 34px !important;
}
