.tooltiptext {
    visibility: hidden;
    width: 26.7rem;
    height: 14.2rem;
    background-color: $color-grey-dark;
    color: $color-white;
    text-align: right;
    border-radius: 2px;
    padding: .4rem 1.1rem;
    position: absolute;
    z-index: 1;
    top: 36%;
    left: 0%;
    margin-left: -6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    box-shadow: 1px 1px 18px 0 rgba(0, 0, 0, 0.34);

    @include respond(small){
      left: -70%;
    }

    &.tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 14%;
        margin-top: 1rem;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $color-grey-dark transparent;
      }  
  }
  

.pwd__label:hover ~ .tooltiptext {
    visibility: visible;
  }
