$color-primary: #357875;
$color-secondary: #aa198d;
$color-red: #ff3a00; 
$color-white: #ffffff;
$color-grey-dark: #424242;
$color-grey-light: #707070;
$color-grey-light-1: #898989;
$color-grey-light-2: #d6d6d6;
$color-grey-light-3: #f8f8f8;
