/* GLOBAL STYLES */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, 
body{
    font-family: 'Afek-Regular', 'Arial', sans-serif;
    font-size: 62.5%; //1rem, 10px
    line-height: 2.4rem;
    box-sizing: border-box;
}


img{
    height: auto;
    max-width: 100%;
}

