//mixin for the eye icon in the password input field

@mixin iconPassword {
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 1.1rem;
    height: 2.4rem;
    width: 2.4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/* MEDIA QUERIES
 
 1440px - 1024px - laptop - large
 1024 - 768px - tablet - medium
 768 - 425px - phone - small


*/

@mixin respond ($breakpoint){
    @if $breakpoint == smallest{
        @media only screen and (max-width: 375px) { @content };
    }
    @if $breakpoint == small{
        @media only screen and (max-width: 500px) { @content };
    }
    @if $breakpoint == large{
        @media only screen and (max-width: 1024px) { @content };
    }
}