
/* FONTS USED */

@font-face {
    font-family: 'Afek-Regular';
    src: url('../assets/fonts/Afek-Regular/Afek-Regular.woff') format('woff'),
         url('../assets/fonts/Afek-Regular/Afek-Regular.woff2') format('woff2'),
         url('../assets/fonts/Afek-Regular/Afek-Regular.ttf') format('ttf'),
         url('../assets/fonts/Afek-Regular/Afek-Regular.eot') format('eot'),
}

@font-face {
    font-family: 'Afek-Thin';
    src: url('../assets/fonts/Afek-Thin/Afek-Thin.woff') format('woff'),
         url('../assets/fonts/Afek-Thin/Afek-Thin.woff2') format('woff2'),
         url('../assets/fonts/Afek-Thin/Afek-Thin.ttf') format('ttf'),
         url('../assets/fonts/Afek-Thin/Afek-Thin.eot') format('eot'),
}


@font-face {
    font-family: 'Afek-DemiBold';
    src: url('../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff') format('woff'),
         url('../assets/fonts/Afek-DemiBold/Afek-DemiBold.woff2') format('woff2'),
         url('../assets/fonts/Afek-DemiBold/Afek-DemiBold.ttf') format('ttf'),
         url('../assets/fonts/Afek-DemiBold/Afek-DemiBold.eot') format('eot'),
}

@font-face {
    font-family: 'SimplePro-Reguloar';
    src: url('../assets/fonts/SimplePro-Regular/Simpler-Regular.woff') format ('woff');
}